/* Product Card Carousel Styles */
.productCarousel {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

.productCarousel [class*="fullWidthWrapper"] {
    height: 100%;
}

.productCarousel [class*="fullWidthImage"] {
    background-size: cover;
    background-position: center;
}

.productCarousel [class*="fullWidthOverlay"] {
    display: none;
}

/* Control dots styling for product cards */
.productCarousel [class*="controlDots"] {
    bottom: 0.5rem;
    gap: 0.3rem;
}

.productCarousel [class*="dot"] {
    width: 5px;
    height: 5px;
}

.productCarousel [class*="dotActive"] {
    width: 16px;
    height: 5px;
}

/* Hide nav arrows in product cards */
.productCarousel [class*="navArrow"] {
    display: none !important;
}
