@layer utilities {
    .page {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: var(--font-montserrat);
        background-color: var(--background);
        color: var(--text-primary);
        padding: 32px;
    }

    .productsCarousel {
        width: 100%;
    }

    .productCardWrapper {
        width: 100%;
        height: 100%;
        border-radius: 12px;
    }

    .mobileViewAll {
        display: none;
        padding: 1rem;
    }

    @media screen and (width <=1000px) {
        .page {
            padding: 24px;
        }
    }

    @media screen and (width <=600px) {
        .page {
            padding: 12px;
        }

        .mobileViewAll {
            display: block;
        }
    }
}