@layer component {
  .page {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: var(--font-montserrat);
    background-color: var(--background);
    color: var(--text-primary);
  }
}